###############################################
## To avoid .DS_Store files ##
###############################################
.DS_Store

###############################################
## To avoid others annoying files ##
###############################################
*.xd
*.fig

###############################################
## To avoid .txt files ##
###############################################
toDo.txt
