/* ---------------- Responsive Design ---------------- */

@media (max-width: 990px) {
	body {
		overflow-x: hidden;
		background: #fff;
		min-height: 100vh;
    }

    body footer {
        height: 25em;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        flex-direction: column;
        background: #000;
    }

    body footer .copyright-footer {
        display: none;
    }
}


@media (max-width: 930px) 
{
	body {
		overflow-x: hidden;
		background: #fff;
		min-height: 100vh;
    }

    body #header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1.875rem 6.25rem;
        display: flex;
        z-index: 1000;
        margin-left: -12%;
    }

    body #header .logo {
        display: none;
    }
	
    body #headeer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100px;
    }

    body .sec h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 615px) {
	body #header {
			padding: 1.875rem 6.25rem;
    }

    body #header ul li a {
        padding: 0.375rem 0.375rem;
    }
}

@media (max-width: 545px) {
	body #header {
			padding: 1.875rem 6.25rem;
    }

    body #header ul li a {
        display:  none;
    }
	
    body #header #menu-hamburger {
        display: inline-block;
        margin-left: 140%;
    
    }

    body footer {
        height: 30em;
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: column;
        background: #000;
    }
}

@media (max-width: 400px) {
	body {
		background: #fff;
    }

    body #splash {
        display: none;
    }

    body #header {
        display: none;
    }

    body #header h2 {
        display: none;
    }

	body section, body #lore, body #playbtn, body footer {
        display: none;
    }
}
