/* ---------------- Header: Nav & Logo ---------------- */

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
    font-family: "Poppins", sans-serif;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#menu-hamburger {
    display: none;
    width: 2.1875rem;
    height: 2.1875rem;
}
	
#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.125rem;
}

#header ul li {
    list-style-type: none;
    margin-left: 1.25rem;	
}

#header ul li a {
    font-size: 1.125rem;
    text-decoration: none;
    padding: 0.375rem 0.9375rem;
    color: #094b65;
    border-radius: 1.25rem;
    font-weight: 500;
}

#header ul li a:hover, #header ul li a.active{
    background: #094b65;
    color: #fff;
}



/* Arreglar el active del home -- por algún motivo no coge el active */
